<div class="garage-container">
  <div class="car-card">
    <%= image_tag @car.image_url, class: 'car-image' %>
    <div class="car-info">
      <h2><%= @car.brand %> (<%= @car.model %>)</h2>
      <p><strong><%= @car.year %></strong></p>
      <p><%= @car.fuel %></p>
      <h2>Reviews:</h2>
  <ul>
    <% @car.reviews.each do |review| %>
        <%= "â­" * review.rating %> - "<%= review.comment %>"
        <br>
    <% end %>
  </ul>
</div>

<div class="comment-section">


  <h3>Add a Review:</h3>
  <%= simple_form_for [@car, @review] do |f| %>
    <div class="form-group">
      <%= f.input :comment, label: "Your Review", as: :text %>
      <%= f.input :rating, label: "Rating (1 to 5)", as: :select, collection: [1, 2, 3, 4, 5] %>
    </div>
    <div class="form-group">
      <%= f.button :submit, "Submit Review", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

    <div class="user-comments">

<%= simple_form_for @car do |f| %>
  <%= f.button :submit, "Add to my garage", class: "btn btn-primary" %>
<% end %>
    </div>
  </div>
</div>
