<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeGarage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <%= render 'layouts/navbar' %> <% unless controller_name == 'cars' && action_name == 'show' %>
      <% unless controller_name == 'favourites' && action_name == 'index' %>
      <%= render 'layouts/banner' %>
      <% end %>
      <% end %>
      <%= yield %>
    </body>


</html>
